venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.db.sqlite3
db.sqlite3
.env
.git/
.gitignore
.idea/
.vscode/
staticfiles/
media/
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
Dockerfile
docker-compose.yml
README.md
