# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
.Python
venv/
env/
ENV/

# Database
*.sqlite3
*.db

# Media files
/media/

# Migrations
*/migrations/*.py
!*/migrations/__init__.py